/* Fonts */
@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter/InterVariable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('assets/fonts/JetBrainsMono/JetBrainsMono[wght].ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Variables */
:root {
  --color-bg: #222222;
  --color-text: #d2d2d2;
  --color-almost-black: #1d1d1d;
  --color-dark-grey: #252525;
  --color-dark-grey-2: #3f3f3f;
  --color-dark-grey-3: #333333;
  --color-carolina-blue: #7591df;
  --color-carolina-blue-1: #6883db;
  --color-carolina-blue-2: #5875d3;
  --color-dark-sage: #52895c;
  --color-dark-peach: #e6865c;
  --color-dark-peach-2: #c76843;
  --color-medium-gray: #808080;
  --color-light-mustard: #cca642;
}

/* Defaults */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  -webkit-user-select: none;
  user-select: none;
}

html {
  background-color: var(--color-bg);
  color: var(--color-text);
}

body {
  color: var(--color-text);
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}
